.profile {
    h3 {
        font-size: 32px;
        font-weight: 900;
        margin-bottom: 35px;
    }
    &__form {
        display: flex;
        flex-direction: column;
        width: 350px;
        align-items: center;
        &_input {
            margin-bottom: 25px;
            text-indent: 10px;
            color: #215057;
            height: 50px;
            width: 350px;
            background-color: #ddcfcf;
            outline: none;
            border: 1px solid transparent;
            border-radius: 10px;
            &:focus {
                border: 1px solid #215057;
            }
        }
        &_button {
            cursor: pointer;
            height: 40px;
            width: 300px;
            border-radius: 10px;
            color: #215057;
            background-color: #ffebeb;
            border: 1px solid;
            margin-bottom: 10px;
            &:hover {
                background-color: #e4cece;
            }
        }
    }
}
