.main {
    min-height: 100vh;
    &__pages {
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        justify-content: center;
        background-color: #f8dfdf;
        p {
            padding: 10px 15px;
        }
        &--active {
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            border-radius: 10px;
            background-color: #e0c8c8;
        }
    }
}
